<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>List</title>
  </head>
  <body>
    {% block title %} {{article.title}} {% endblock title %}
    <br />
    {% block content %} {% for article in articles %}
    <ul>
      <li>
        <a href="{% url 'article-detail' article.id %}"
          ><h1>{{article.title}}</h1>
        </a>
      </li>
      <li>
        <p>{{article.author}}</p>
      </li>
      <li>
        <p>{{article.created_on}}</p>
      </li>
      <form action="{% url 'list-view' %}" method="GET">
        <input type="text" name="q" placeholder="Search here..." />
        <input type="submit" value="Search" />
      </form>
      <li>
        <a href="{% url 'delete-view' object_id=object.id %}">Delete</a>
      </li>
    </ul>
    <br />
    {% endfor %} {% endblock content %}
  </body>
</html>
